@font-face {
  font-family: Shabnam;
  src: url('../fonts/Shabnam.eot');
  src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'), url('../fonts/Shabnam.woff2') format('woff2'), url('../fonts/Shabnam.woff') format('woff'), url('../fonts/Shabnam.ttf') format('truetype');
}

body {
  font-family: 'Shabnam', sans-serif;
}

.page-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}

.page-header nav {
  background-color: #f5f5f5 !important;
}

a {
  color: rgb(172, 43, 74);
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: rgb(65, 13, 28);
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

h5 {
  color: rgb(248, 220, 220);
}

h6 {
  font-weight: bold;
  color: rgb(0, 61, 10);
}

button, input, optgroup, select, textarea {
  margin: 0.4rem 0 0.4rem 0 !important;
}

.categories {
  font-weight: bold;
}

textarea {
  min-height: 100px;
}

.close {
  margin: auto auto auto -0.5rem !important;
}

.modal-title {
  margin: auto 0 auto 0 !important;
}

.btn {
  margin: auto 0 auto 4px !important;
}

.form-control {
  direction: rtl;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 4px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .6;
  transition: opacity 0.6s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.black-block-right {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
}

.black-block-right:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}

.black-block-right:active {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}

.black-block-left {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2));
}

.black-block-left:hover {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3));
}

.black-block-left:active {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.4));
}

.carousel-caption-block {
  background: rgba(0, 0, 0, 0.3);
  border-radius: calc(0.4rem - 1px);
}

.location {
  padding: 2rem 0.5rem 1rem;
  text-align: center;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1.1rem;
  background-color: rgba(19, 0, 0, 0.034);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.text-muted {
  color: #ffbf00 !important;
  font-size: 1rem;
}

.card-img-top {
  width: 100%;
  height: 200px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.ltr-format {
  direction: ltr !important;
}

.description {
  color: #000;
  font-weight: 200;
  font-size: 1.2rem;
}

.img-bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.rounded-carousel {
  border-radius: 0.25rem;
  overflow: hidden;
}

.nav-item {
  font-weight: bold
}

.clear-link {
  margin-right: 2px;
  margin-left: 2px;
}

.clear-link:hover {
  text-decoration: none;
}

.signup-login {
  display: flex;
}

.my-2 {
  margin-bottom: 0 !important;
}

.title-bar {
  margin-top: 2px;
  margin-bottom: 12px;
}

.buy-button {
  margin-right: auto;
}

.our-service-cell {
  direction: rtl;
  display: flex;
  width: 100%;
  padding: 2% 5%;
  background-color: #f5f5f5;
  margin-bottom: 0;
  flex-direction: row;
}

.our-service-text-block {
  flex: 3;
  display: flex;
  flex-direction: column;
  margin: auto 0;
}

.our-service-pic {
  width: 40px;
  height: 40px;
}

.our-service-pic-block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-service-title {
  font-size: 0.9rem;
  margin: 0 0 6px 0;
}

.our-service-description {
  font-size: 0.8rem;
  color: #888;
  font-weight: lighter;
  margin: 0;
}

.table {
  margin-bottom: 0;
}

.table tr {
  border: 1px solid #dee2e6;
}

.title-td {
  width: auto;
}

.nav {
  flex-wrap: unset;
  display: flex;
  direction: rtl;
  text-align: center;
  align-items: center;
}

.nav li {
  display: flex;
  border-bottom: 0;
  margin: 0;
  width: 100%;
}

.nav li a {
  height: 100%;
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: 0.2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.nav li a:hover {
  background: #f0f0f0;
}

.nav li a:focus {
  border: #333 solid 1px;
}

.nav li a:single-button {
  border: #333 solid 1px;
}

.nav-tabs .nav-link.disabled {
  font-size: 1.4rem;
  padding: 0;
  font-weight: bold;
  color: rgb(0, 61, 10);
}

.nav-tabs .nav-link.disabled:hover {
  color: rgb(0, 61, 10);
}

.tab-content {
  border: #dee2e6 solid 1px;
  border-top: 0;
}

.tab-content .paddinger {
  padding: 25px 20px 10px 20px;
}

.tab-content div h4 {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.tab-content div p {
  font-size: 0.95rem;
  margin-bottom: 15px;
}

.table td, .table th {
  border-top: 0px;
}

.table tr {
  border: 0px;
  border-bottom: 1px #dee2e6 solid;
}

.table td {
  padding: 15px;
}

.comments-class .card-body {
  display: flex;
}

.comments-class .card-body p, .comments-class .card-body img {
  margin: auto 10px;
}

.comments-class .list-group-item {
  border: 0;
}

.comments-class .list-group-item .modal-body {
  padding: 0;
}

.form-control:focus, .btn-outline-success.focus, .btn-outline-success:focus, .btn.focus, .btn:focus {
  box-shadow: 0 0 0 0;
}

.buy-checkbox, .input-group-text p, .comment-username {
  margin: 0 !important;
}

.buy-checkbox {
  margin-right: 4px !important;
}

.comments-class .card-body span {
  margin: auto 0;
}

.comments-class .card-body img {
  width: 9%;
  height: 9%;
}

.comments-class .list-group-item {
  padding: 1.25rem 1.25rem 1px 1.25rem;
}

.comments-class .card-body {
  padding: 0.5rem;
}

.comments-class {
  padding: 0 0 1.1rem 0;
}

.product-body {
  padding: 0.8rem;
}

.product-body h4 {
  direction: ltr;
  text-align: left;
}